body {

    width: 394px;

    background-image: url("faded-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

p {

    font-size: 14px;

}

.center {

    display: flex;

    justify-content: center;

    text-align: center;

}